<!-- 
GUI版では使いません。 

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>シンプルな計算機</title>
    <style>
        body{ font-family: Arial, sans-serif; text-align: center; margin-top: 50px;}
        input, button { padding: 10px; margin: 5px; font-size: 16px;}
        .result { margin-top: 20px; font-size: 25px; font-weight: bold; color: green;}
    </style>
</head>
<body>
    <h1>シンプルな計算機</h1>

    <form action="/calculate" method="post">
        <input type="number" name="num1" required placeholder="1つ目の数値"> <!-- required:入力必須の属性 　placeholder:入力例やヒント表示の属性-->

        <select name="operator" required>
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">×</option>
            <option value="divide">÷</option>
        </select>

        <input type="number" name="num2" required placeholder="2つ目の値">

        <button type="submit">計算</button>
    </form>

    {% if result is not none %}
    <div class="result">
        計算結果: {{ result }}
    </div>
    {% endif %}
</body>
</html>